<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DOMBITKOM</title>
  <link href="css/main.css" rel="stylesheet">
</head>

<body class="page">
  <div class="page__wrapper">
    <main class="page-404">
      <div class="page-404__inner">
        <div class="page-404__leftside"></div>
        <div class="page-404__rightside">
          <div class="page-404__content">
            <div class="page-404__number">
              404
            </div>
            <div class="page-404__text">Страница не найдена</div>
            <a class="page-404__link" href="#">На главную <span data-uk-icon="icon: arrow-right"></span></a>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script src="bundle.js"></script>
</body>

</html>
