.features {
	background: #ebe3de url('../img/bg-features.jpg') 50% 50% no-repeat;
	background-size: cover;
	padding: 80px 0 105px;
}

.features__grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(300px, 380px));
}

.features__title {
	margin-bottom: 55px;
	text-align: center;
	font-family: $theme-font-decor;
	color: $theme-color-3;
	font-size: 44px;
	font-weight: 700;
	letter-spacing: 4.4px;

}

.features__title-dots {
	color: $theme-color-1;
	letter-spacing: 0;
}
