.home-products {
	padding: 70px 0 100px;
}

.home-products__grid {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 50px;
}

.home-products__title {
	margin-bottom: 70px;
	color: $theme-color-3;
	font-family: $theme-font-decor;
	font-size: 44px;
	font-weight: 700;
}

.home-products__text {
	padding: 40px 58px;
	background-color: $theme-color-2;
	font-family: $theme-font-decor;
	color: $theme-color-3;
	font-size: 32px;
	font-weight: 700;
	line-height: 1.3;
}
