.home-projects {
	padding: 120px 0;
	@media (max-width: $breakpoint-small) {
		padding: 30px 0 75px;
	}
}

.home-projects__inner {
	position: relative;
	display: flex;
	@media (max-width: $breakpoint-small) {
		flex-direction: column;
	}
}

.home-projects__inner .home-projects__leftside {
	position: relative;
	width: 200px;
}

.home-projects__rightside {
	flex-grow: 1;
	position: relative;
}

.home-projects__more {
	@include m-reset-link;
  position: absolute;
	right: 34px;
	bottom: -42px;
	padding: 32px 55px 31px 50px;
	box-sizing: border-box;
	background-color: #fff;
  color: #050708;
  box-shadow: 10px 10px 0 0 $theme-color-1;
	transition: box-shadow 0.25s;
	&:hover {
		color: #050708;
		box-shadow: 5px 5px 0 0 $theme-color-1;
		transition: box-shadow 0.25s;
	}
	span {
		color: $theme-color-1;
	}
	@media (max-width: $breakpoint-large) {
		bottom: -4%;
	}
	@media (max-width: $breakpoint-medium) {
		right: 42px;
		bottom: -48px;
	}
	@media (max-width: $breakpoint-small) {
		left: 10px;
		right: 10px;
		padding: 10px;
		background-color: $theme-color-1;
		color: #fff;
		box-shadow: none;
		&:hover {
			color: #fff;
			box-shadow: none;
		}
		span {
			color: #fff;
		}
	}
}

.home-projects__title {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 15px 40px 38px 0;
	background-color: #fff;
	font-family: $theme-font-decor;
	color: $theme-color-3;
	font-size: 44px;
	font-weight: 700;
	line-height: 1;
	@media (max-width: $breakpoint-small) {
		position: static;
		margin-bottom: 26px;
		padding: 0;
		font-size: 24px;
	}
}

.home-projects__switcher {
	@include m-reset-list;
	width: 200px;
	margin-top: 115px;
	color: $theme-color-3;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	@media (max-width: $breakpoint-medium) {
		width: 150px;
	}
	@media (max-width: $breakpoint-small) {
		display: flex;
		flex-wrap: wrap;
		width: auto;
		margin: 0 -20px 18px;
	}
}

.home-projects__switcher-pointer {
	width: 0;
	height: 5px;
	margin-top: 15px;
	background-color: $theme-color-1;
	transition: width 0.5s;
	@media (max-width: $breakpoint-small) {
		display: none;
	}
}

.home-projects__switcher-item {
	position: relative;
	z-index: 1;
	display: flex;
	width: calc(100% + 17px);
	margin-bottom: 20px;
	@media (max-width: $breakpoint-small) {
		width: auto;
		margin: 0 20px 18px;
	}
	&.uk-active {
		.home-projects__switcher-link {
			color: $theme-color-1;
			font-size: 20px;
			&:hover {
				color: $theme-color-1;
			}
			@media (max-width: $breakpoint-small) {
				&::before {
					width: 100%;
					transition: width 0.25s;
				}
			}
		}
		.home-projects__switcher-pointer {
			width: 100%;
			transition: width 0.5s;
		}
	}
}

.home-projects__switcher-link {
	@include m-reset-link;
	margin-right: 6px;
	color: #050708;
	&:hover {
		color: #050708;
	}
	@media (max-width: $breakpoint-small) {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: -5px;
			width: 0;
			height: 5px;
			background-color: $theme-color-1;
			transition: width 0.25s;
		}
	}
}
