.home-product-large__desc {
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
	position: relative;
	&::before {
		content: '';
		width: 5px;
		height: 70px;
		background-color: $theme-color-1;
		position: absolute;
		left: 30px;
		bottom: -50px;
		z-index: 1;
		@media (max-width: $breakpoint-small) {
			width: 70px;
			height: 5px;
			left: 0;
			bottom: -10px;
		}
	}
}

.home-product-large__title {
	margin-bottom: 10px;
	color: $theme-color-3;
	font-family: $theme-font-decor;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	@media (max-width: $breakpoint-small) {
		font-size: 20px;
	}
}

.home-product-large__subtitle {
	text-align: right;
	color: #787878;
	font-family: $theme-font-decor;
	text-transform: uppercase;
	@media (max-width: $breakpoint-medium) {
		font-size: 12px;
	}
	@media (max-width: $breakpoint-small) {
		display: none;
	}
}

.home-product-large__text {
	width: 290px;
	margin-left: 28px;
	line-height: 1.2;
	@media (max-width: $breakpoint-small) {
		display: none;
	}
}
