.intro {
  background: #e9e6df url('../img/bg-intro.jpg') 50% 50% no-repeat;
  background-size: cover;
  @media (max-width: $breakpoint-small) {
    background-position: 50% 48px;
  }
}

.intro__content {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100vh;
  padding-bottom: 16vh;
  box-sizing: border-box;
  @media (max-width: $breakpoint-small) {
    height: 375px;
    padding-bottom: 0;
  }
}

.intro__slogan-first-row {
  color: #565656;
  font-family: $theme-font-decor;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 6.8px;
  line-height: 1;
  @media (max-width: $breakpoint-medium) {
    font-size: 55px;
  }
  @media (max-width: $breakpoint-small) {
    font-size: 24px;
    letter-spacing: 2.5px;
  }
}

.intro__slogan-second-row {
  padding: 16px 25px;
  background-color: transparentize($theme-color-1, 0.1);
  font-family: $theme-font-decor;
  color: #fff;
  font-size: 68px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 6.8px;
  @media (max-width: $breakpoint-medium) {
    font-size: 55px;
  }
  @media (max-width: $breakpoint-small) {
    margin: 0 -20px;
    padding: 8px 25px;
    font-size: 24px;
    letter-spacing: 2.5px;
  }
}
