.kitchens {
  padding: 50px 0 100px;
  @media (max-width: $breakpoint-small) {
    padding: 50px 0 0;
  }
}

.kitchens__title {
  padding: 10px 24px 20px;
  border-left: 5px solid $theme-color-1;
  color: #050708;
  font-family: $theme-font-decor;
  font-size: 44px;
  font-weight: 700;
  line-height: 0.9;
  @media (max-width: $breakpoint-large) {
    width: 295px;
  }
  @media (max-width: $breakpoint-small) {
    width: 100%;
    font-size: 26px;
  }
}

.kitchens__info {
  position: relative;
  left: -100px;
  z-index: 1;
  width: 570px;
  margin-bottom: 30px;
  box-shadow: 11px 19px 38px rgba(50, 50, 51, 0.35);
  @media (max-width: $breakpoint-large) {
    width: 520px;
  }
  @media (max-width: $breakpoint-medium) {
    left: -50px;
    width: 350px;
  }
  @media (max-width: $breakpoint-small) {
    left: 0;
    width: 100vw;
    margin: 0 -15px;
  }
}


.kitchens__illustration-1 {
  @media (max-width: $breakpoint-small) {
    width: 100vw;
    max-width: 100vw;
    margin: 0 -15px;
  }
}

.kitchens__illustration-2 {
  @media (max-width: $breakpoint-small) {
    display: none;
  }
}
