.kitchens-materials {
  padding: 41px 150px 55px 50px;
  box-sizing: border-box;
  background-color: $theme-color-1;
}

.kitchens-materials__title {
  margin-bottom: 27px;
  color: #fff;
  font-family: $theme-font-decor;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}

.kitchens-materials__list {
  @include m-reset-list;
  display: grid;
  grid-template-columns: repeat(3, 125px);
  @media (max-width: $breakpoint-medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.kitchens-materials__item {
  margin-bottom: 14px;
  color: #fff;
  line-height: 1;
}
