.main-footer-nav {
  margin-bottom: 40px;
}

.main-footer-nav__list {
  @include m-reset-list;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -15px;
  @media (max-width: $breakpoint-small) {
    margin: 0;
  }
}

.main-footer-nav__item {
  margin: 10px 15px;
  @media (max-width: $breakpoint-small) {
    width: 50%;
    margin: 0 0 20px 0;
  }
}

.main-footer-nav__link {
  color: #b0afaf;
  font-family: $theme-font-decor;
  font-size: 15px;
  line-height: 1;
  text-transform: uppercase;
  &:hover {
    color: #fff;
  }
}
