.portfolio__intro {
  background: #484543 url('../img/bg-portfolio.jpg') 50% 50% no-repeat;
  background-size: cover;
}

.portfolio__intro-inner {
  display: flex;
  align-items: flex-end;
  height: 640px;
  box-sizing: border-box;
  padding: 84px 0;
}

.portfolio__title {
  max-width: 750px;
  color: #efefef;
  font-family: $theme-font-decor;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  @media (max-width: $breakpoint-small) {
    font-size: 38px;
  }
}

.portfolio__list {
  padding-bottom: 110px;
  @media (max-width: $breakpoint-medium) {
    padding-bottom: 85px;
  }
  @media (max-width: $breakpoint-small) {
    padding-bottom: 70px;
  }
}

.portfolio__section-title {
  margin-bottom: 45px;
  color: #050708;
  font-family: $theme-font-decor;
  font-size: 44px;
  font-weight: 700;
}

.portfolio__list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 360px));
  grid-gap: 30px;
}

.portfolio__album {
  padding: 75px 0 175px;
  @media (max-width: $breakpoint-medium) {
    padding: 50px 0 78px;
  }
  @media (max-width: $breakpoint-small) {
    padding: 38px 0 40px;
  }
}

.portfolio__album-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(137px, 260px));
  grid-auto-rows: 205px;
  grid-column-gap: 30px;
  grid-row-gap: 35px;
  justify-content: space-between;
  @media (max-width: $breakpoint-large) {
    justify-content: flex-start;
  }
  @media (max-width: $breakpoint-medium) {
    grid-column-gap: 18px;
    grid-row-gap: 25px;
  }
  @media (max-width: $breakpoint-small) {
    grid-gap: 5px;
  }
}
