.project-main-info {

}

.project-main-info__title {
  margin-bottom: 18px;
  color: #787878;
  font-family: $theme-font-decor;
  text-transform: uppercase;
}

.project-main-info__body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 215px;
  background-color: #fff;
  box-shadow: 10px 10px 0 0 $theme-color-1;
}

.project-main-info__icon {
  position: absolute;
  top: 15px;
  left: 18px;
}

.project-main-info__number {
  color: #050708;
  font-family: $theme-font-decor;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
}
