.project-more {
  padding: 85px 0 115px;
}

.project-more__title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 20px;
  color: #050708;
  font-family: $theme-font-decor;
  font-size: 32px;
  font-weight: 700;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 1px;
    background-color: #dbd3cf;
  }
}

.project-more__text {
  columns: 2;
  column-gap: 70px;
}

.project-more__item-wrapper {
  margin-top: 77px;
}

.project-more-item__title {
  margin-bottom: 10px;
  color: #fff;
  font-family: $theme-font-decor;
  font-size: 30px;
  font-weight: 700;
}

.project-more-item__learnmore {
  color: #ffff;
  font-size: 16px;
  font-weight: 400;
}
