.project-item {
  @include m-reset-link;
  color: #050708;
  &:hover, &:focus {
    color: #050708;
    .project-item__hover {
      opacity: 1;
      transition: opacity 0.25s;
    }
    .project-item__desc {
      background-color: #fff;
    }
  }
}

.project-item__image {
  display: block;
  height: 320px;
}

.project-item__desc {
  display: block;
  padding: 20px 16px 35px;
  transition: padding 0.25s;
}

.project-item__title {
  display: block;
  margin-bottom: 10px;
}

.project-item__style {
  display: inline-block;
  padding: 8px 10px;
  color: #efefef;
  background-color: #7c7775;
}

.project-item__hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparentize($theme-color-1, 0.15);
  color: #fff;
  text-decoration: underline;
  opacity: 0;
  transition: opacity 0.25s;
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid #fff;
  }
}
