.project-main-info {
  margin-bottom: 37px;
  margin-left: 10px;
}

.project-main-info__title {
  margin-bottom: 15px;
  color: #787878;
  font-family: $theme-font-decor;
  text-transform: uppercase;
  @media (max-width: $breakpoint-large) {
    margin-bottom: 3px;
    font-size: 15px;
  }
}

.project-main-info__body {
  position: relative;
  width: 200px;
  height: 215px;
  box-sizing: border-box;
  padding: 61px 20px 20px;
  background-color: #fff;
  box-shadow: 10px 10px 0 0 $theme-color-1;
  text-align: center;
  @media (max-width: $breakpoint-large) {
    width: 150px;
    height: 150px;
    padding: 25px 20px;
  }
  @media (max-width: $breakpoint-medium) {
    width: 200px;
    height: 90px;
    padding: 12px 20px;
  }
}

.project-main-info__icon {
  position: absolute;
  top: 15px;
  left: 22px;
}

.project-main-info__number {
  color: #050708;
  font-family: $theme-font-decor;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  @media (max-width: $breakpoint-large) {
    font-size: 80px;
  }
  @media (max-width: $breakpoint-medium) {
    margin-bottom: -8px;
    font-size: 48px;
  }
}
