.home-product-small__desc {
	margin-bottom: 70px;
	font-family: $theme-font-decor;
	color: $theme-color-3;
	font-size: 32px;
	font-weight: 700;
	line-height: 1;
	position: relative;
	&::before {
		content: '';
		width: 5px;
		height: 70px;
		background-color: $theme-color-1;
		position: absolute;
		left: 30px;
		bottom: -80px;
		z-index: 1;
	}
}

.home-product-small__image {
	height: 200px;
}
